
<div class="container">
 

    <div id="data-container" class="row">
    </div>
</div>

<div id="display" class="row justify-content-center content">

<div id="data-container" class="row justify-content-center">
    
</div>



<!--Pagination bar for Author's Cards -->
<div id="pagination"></div>
<script>
  
    
//Dynmically loading language from data sheet.

const publications = {{site.data.publocation | group_by: "Language" | jsonify }}

const display = document.getElementById("display");

publications.forEach( 
    
details => {
display.innerHTML += `

          <div class="card col-4">
        <div class="card-body">
        <h5 class="card-title">${details.name} <span>(${details.size})</span></h5>
        <a href="{{site.baseurl}}/${encodeURIComponent(details.name)}" class="card-link">View More</a>
        </div>
    </div>
    
</div>


`;
});


</script>