<style>
.row.justify-content-center.content{

      margin: 15px 30px;
}

.authorimg img {
    border-radius: 50%;
    width: 300px;
      height: 300px;

}

.authorbiodata {
    text-align: center;
    background: rgba(255, 188, 87, 0.3);
    padding: 19px 0;
}

.authorbiodata h3 {
    font-weight: 600;
}

.authordetails h6 {
    line-height: 33px;
}

.authordetails h3, h4 {
    font-size: larger;
    font-weight: 700;
}

    .button-container{
        text-align: center;
    }

    #pagination{
        padding-top: 3px;
        text-align: center;
    }

    [data-letter]{
        background-color: transparent;
        text-align: center;
        color: #000;
        text-decoration: none;
        border: 1px solid;
        display: inline-flex;
        padding: 10px;
        /*margin: 0px 3px;*/
        font-size: 14px;
        }

       [data-letter]:hover {
        color: rgba(181, 181, 181, .55);
       } 

       button:active{
        color: green;
       }

       #pagination button {
        background-color: transparent;
        text-align: center;
        color: #000;
        text-decoration: none;
        border: none;
        display: inline-flex;
        padding: 10px;
        margin: 0px 3px;
        font-size: 14px;
       }

.bookphoto {
    width: 49%;
    float: left;
}   

.book_details {
    width: 49%;
}

.book_details, .bookphoto {
    display: inline;
}

.publication_date {
    text-align: center;
}

.publication_date h3 {
    font-size: 26px;
    padding-bottom: 23px;
}

.publication_title h5 {
    font-size: large;
}

.publication_genre a {
    font-size: 15px;
}

.publication_publisher {
    font-size: 15px;
}

</style>


<!-- Main div for Author's Page-->
<div class="container">
    <!-- Search bar -->
    <div class="input-group mb-3">
        <input id="searchInput" type="text" class="form-control searchForm" placeholder="Search for an author">
    </div>

    <!--Alhpabetically ordered letter navigation bar  -->
    <div class="button-container">
        <button data-letter="a">A</button>
        <button data-letter="b">B</button>
        <button data-letter="c">C</button>
        <button data-letter="d">D</button>
        <button data-letter="e">E</button>
        <button data-letter="f">F</button>
        <button data-letter="g">G</button>
        <button data-letter="h">H</button>
        <button data-letter="i">I</button>
        <button data-letter="j">J</button>
        <button data-letter="k">K</button>
        <button data-letter="l">L</button>
        <button data-letter="m">M</button>
        <button data-letter="n">N</button>
        <button data-letter="o">O</button>
        <button data-letter="p">P</button>
        <button data-letter="q">Q</button>
        <button data-letter="r">R</button>
        <button data-letter="s">S</button>
        <button data-letter="t">T</button>
        <button data-letter="u">U</button>
        <button data-letter="v">V</button>
        <button data-letter="W">W</button>
        <button data-letter="X">X</button>
        <button data-letter="Y">Y</button>
        <button data-letter="z">Z</button>
</div>

<!-- Where all of the Author's Cards populate-->
<div class="row justify-content-center content">
</div>
<div id="data-container" class="row justify-content-center"></div>

<!--Pagination bar for Author's Cards -->
<div id="pagination"></div>
</div>


<!-- External javascript for the letter navigation and pagination for Authors-->
<script src="{{site.baseurl}}/az.js"></script>

<!-- Internal javascript dealing with the Author's Bio and Detail functionality-->
<script>

const datasets = [
    {
    type: "authors",
    url: "{{ site.baseurl }}/data/authors.json"
 }
            
];

const dataLinks = [];


//Calling a jQuery to load the data as the page is loaded

          $(document).ready(function(){
           datasets.forEach(dataset => {
            siftData(dataset.url, dataset.type, function(data){
                dataLinks.push({
                    type: dataset.type,
                    data: data
                });
            })
               // setTimeout(() => showCategory(), 1000);
            });


//Search bar functionality
            $('#search-box').on('input', function(event) {
            showCategory(event.target.value);
        });
        });




    function siftData(url, dataType, callback) {
        $.getJSON(url, function(data) {
            const temp = [];
            if (dataType === "authors") {
                for (const key in data){
                if(data.hasOwnProperty(key)){
                    temp.push({
                        flavorText: data[key].Author,
                        subtitle: data[key].author_country,
                        link: data[key].author_id
                    });

                } 
            }
        }
            
               callback(temp);
        });
    };


/*
//Function to create and display Author's Card based on Author's data
    function showCategory(filter = "") {
        $('#data-container').html('');
        filter = filter.trim().toLowerCase();

        
        dataLinks.forEach(element => {
            element.data.forEach(data => {
                if (filter === "" || data.flavorText.toLowerCase().includes(filter)) {
                  appendCard(data);
}
            });
        });
       
        console.log("This is the showCategory talking here!");
    }

 */

 //Function to create and display Author's Card based on Author's data into the main div 
 //Container

    function appendCard(data) {

        //originallly #data-container not .content
        $('.content').append(`
        <div class="card col-4">
        <div class="card-body">  
        <h5 class="card-title">${data.flavorText}</h5>
        <h6 class="card-subtitle">${data.subtitle}</h6>
        <a href="#" class="card-link" data-authorid="${data.link}">More</a>
         </div>
    </div>
        `);
        console.log("This is the appendCard saying hey!");

        $('.card-link').off('click').on('click', function(event) {
            event.preventDefault();
            const authorId = $(this).data('authorid');
            showAuthorBio(authorId);
        });
}



//Function that dynamically populates with the author's bio
function showAuthorBio(authorId) {
       const url = "{{ site.baseurl }}/data/bios.json";
       $.getJSON(url,function(data) {
        const authorBio = data[authorId];
if(authorBio){
console.log(`look at me its me authorBio: ${authorBio.authorid} here!`);
let htmlContent =`
<!--This create the first column div-->

<div class="col" style="position:relative;">

<!-- Creates a container so that the author's profile photo side can scroll independtly of the book details -->
<div class="authorbiodata">
<div height="700px" width="500px" style="position: sticky; top:63px;">
<h3>${authorBio.Author} </h3>
<div class="authorimg">
<img src="{{site.baseurl}}/authorphotos/${authorBio.authorid}.jpg" />
</div>   
<br>
<div class="authordetails">
<h6> <b>Country of Birth: </b> ${authorBio.Country} <br>
    <b>Lifespan:</b> ${authorBio.Lifespan} <br>
    <b> Biography: </b> <a href="${authorBio.Wikimedia}">Learn More About the Author</a> <br>
    <b> DLOC Resources: </b><a href="{{site.baseurl}}/${authorBio.authorid}_dloc/"> Author Resources</a>
    </h6>
</div>
</div>
</div>
</div>

`;
console.log('ShowAuthorBio working here!');
$('.content').html(htmlContent)
showAuthorDetails(authorId);
     }
         else {
    console.error("Author not found in the data.");
      }
})
          .fail(function(){
            console.error("Failed to load JSON data.");
                     });
                                        
}




//Funciton that dynamically populates the author's book detail
function showAuthorDetails(authorId){
    const url = "{{ site.baseurl }}/data/publications.json";
 
     $.getJSON(url, function(data){
   //const authorPublications = data[authorId];
   for (const key in data){
   if(data.hasOwnProperty(key)){
    //console.log(`Key: ${key}, Value: ${JSON.stringify(data[key])}`);
   
   if(key === authorId){
    const authorPublications = data[key];
    console.log(`${key} is ${authorId}`);

     
    
if(Array.isArray(authorPublications))
   //if (authorPublications) 
   {
    console.log(`look at me its me authorPublications: ${authorPublications.Title} here!`);
//This will sort the books by Publication date

authorPublications.sort((a,b)=> new Date(a.Pubdate) - new Date(b.Pubdate));
let htmlContent = `<div class="col" >`;

authorPublications.forEach((publication, i) => {

//i variable added to create an index count for the publications by each author

let imgArray = i + 1; 
//console.log(`${key}${imgArray}`);        
htmlContent += `
<!-- For it to fully put in two columns i need to populate this into the div above -->
<div class="books">
<div style="margin-bottom:0; width:100%">
<div class="publication_date">    
<h3><b> Published in ${publication.Pubdate}</b></h3>
</div>
<div class="bookphoto">  
<img src="{{site.baseurl}}/bookphotos/${publication.Author}/${key}${imgArray}.jpg" style="display:block; margin-left: auto; margin-right:auto; width:50%;"/>
</div>
<div class="book_details">
<div class="publication_title">
<h5><b><i>${publication.Title}</i></b></h5>
</div>
<div class="publication_genre">
<p><b><a href="{{site.baseurl}}/${publication.Genre}/">${publication.Genre}</a>, <span><a href="{{site.baseurl}}/${publication.Language}/">${publication.Language}</a></span> </b></p>
</div>
<div class="publication_publisher">
<p><b>${publication.Publisher},<br> <span>Translation: ${publication.Translation}</span></b></p>
</div>
<!--<p>This is: ${key}${imgArray}</p>-->
</div><br>
<hr>
</div>
`;
});

htmlContent +=`</div>`;

//originallly #data-container not .content
 $('.content').append(htmlContent);

} 
        
else {
            console.error("Publications not found for author.");
        }
    }
} 
}

}) 
       .fail(function(){
        console.error("Failed to load JSON data.");
       }); 

}

</script>