
<div class="container">
    <div class="input-group mb-3">
        <input id="search-box" type="text" class="form-control" placeholder="Search For a Language of Caribbean Literature">
    </div>

    <div id="data-container" class="row">
    </div>
</div>

<div class="row justify-content-center content">
    {% for details in site.data.language %}
    {% assign language-url = details.language | slugify %}
          <div class="card col-4">
        <div class="card-body">
            <h5 class="card-title">{{details.language}}</h5>
            <a href="{{site.baseurl}}/languages/{{language-url}}" class="card-link">More</a>
        </div>
    </div>
    
    {% endfor %}
</div>

<div id="data-container" class="row justify-content-center">
    
</div>



<!--Pagination bar for Author's Cards -->
<div id="pagination"></div>