<div class="container">
    <div class="input-group mb-3">
        <input id="search-box" type="text" class="form-control" placeholder="Search for an author">
    </div>
    <!-- <div id="data-container" class="row"></div> -->
     <div id="data-container" class="row justify-content-center"></div>
</div>


<script>
    const datasets = [
        {
            type: "authors",
            url: "{{ site.baseurl }}/data/authors.json"
        }
    ];

    const dataLinks = [];

    $(document).ready(function() {
        datasets.forEach(dataset => {
            siftData(dataset.url, dataset.type, function(data) {
                dataLinks.push({
                    type: dataset.type,
                    data: data
                });
                setTimeout(() => showCategory(), 1000);
            });
        });

        $('#search-box').on('input', function(event) {
            showCategory(event.target.value);
        });
    });

    function siftData(url, dataType, callback) {
        $.getJSON(url, function(data) {
            const temp = [];
            if (dataType === "authors") {
                for (const key in data) {
                    if (data.hasOwnProperty(key)) {
                        temp.push({
                            flavorText: data[key].Author,
                            subtitle: data[key].author_country,
                            link: data[key].author_id
                        });
                    }
                }
            }
            callback(temp);
        });
    }

    function showCategory(filter = "") {
        $('#data-container').html('');
        filter = filter.trim().toLowerCase();

        dataLinks.forEach(element => {
            element.data.forEach(data => {
                if (filter === "" || data.flavorText.toLowerCase().includes(filter)) {
                    appendCard(data);
                }
            });
        });
    }

    function appendCard(data) {
        $('#data-container').append(`
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">${data.flavorText}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">${data.subtitle}</h6>
                    <a href="#" class="card-link" data-authorid="${data.link}">More</a>
                </div>
            </div>
        `);

        $('.card-link').off('click').on('click', function(event) {
            event.preventDefault();
            const authorId = $(this).data('authorid');
            showAuthorBio(authorId);
        });
    }

    function showAuthorBio(authorId) {
        const url = "{{ site.baseurl }}/data/bios.json";
        $.getJSON(url, function(data) {
            const authorBio = data[authorId];
            if (authorBio) {
                let htmlContent = `<div class="col" style="position:relative;">
               <!--This create the first column div <div class="col"> -->
                <div style="background-color:red; position: sticky; top:63px;">
                    <img height="100px" width="100px" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"/>
                    <h3>${authorBio.Author} is from ${authorBio.Country}.</h3>
                    <h4>${authorBio.Lifespan}</h4>
                    <h4><a href="${authorBio.Wikimedia}">Learn More About The Author</a></h4>
                    <h5><a href="${authorBio.dloc}">DLOC Resources</a></h5>
                </div>
                </div>
                `;
                $('#data-container').html(htmlContent);
                showAuthorDetails(authorId);
            } else {
                console.error("Author not found in the data.");
            }
        }).fail(function() {
            console.error("Failed to load JSON data.");
        });
    }

    function showAuthorDetails(authorId) {
        const url = "{{ site.baseurl }}/data/publications.json";
        $.getJSON(url, function(data) {
            const authorPublications = data[authorId];
            if (authorPublications) {
                let htmlContent = `<div class="col" >`;
                authorPublications.forEach(publication => {
                    htmlContent += `
                    <!-- For it to fully put in two coulmns i need to populate this into the div above -->
                    <div style="background-color: purple; margin-bottom:0;">
                        <img src="https://bookstoreromanceday.org/wp-content/uploads/2020/08/book-cover-placeholder.png"/>
                        <ul>
                            <li><strong>Title:</strong> ${publication.Title}</li>
                            <a href="{{site.baseurl}}/${publication.Genre}/"><li><strong>Genre:</strong> ${publication.Genre}</li></a>
                            <a href="{{site.baseurl}}/${publication.Language}/"><li><strong>Language:</strong> ${publication.Language}</li></a>
                            <li><strong>Publisher:</strong> ${publication.Publisher}</li>
                            <li><strong>Publication City:</strong> ${publication.Pub_id}</li>
                            <li><strong>Publication Date:</strong> ${publication.Pubdate}</li>
                            <li><strong>Translation:</strong> ${publication.Translation}</li>
                        </ul>
                        <hr>
                        </div>
                    `;
                });
               htmlContent +=`</div>`;
                $('#data-container').append(htmlContent);
            } else {
                console.error("Publications not found for author.");
            }
        }).fail(function() {
            console.error("Failed to load JSON data.");
        });
    }
</script>
