<div class="row mb-3">
        <div class="col-12 col-sm-4">
            <label for="numPages" class="form-label zt_sel_title">Select Range <span id="display_pages"></span></label>
        </div>
        <div class="col-12 col-sm-8">
            <input type="range" class="form-range w-100" min="1" max="20" step="1" value="5" list="ticks_pages" id="numPages" name="selectPages" onchange="ztwebcost()" />
            <datalist id="ticks_pages">
< ?php
    for($i=1; $i<20; $i++)    {
        echo '<option value="'.$i.'"></option>';
    }
?>
                <option value="20+"></option>
            </datalist>
        </div>
    </div>
