<filnav class="navbar-1">
<div class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/authors">Authors</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/countries">Countries</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/publishers">Publishers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/timeline">Timeline</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/languages">Languages</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/translations">Translations</a>
    </li>
</div>
</filnav>
