
<filnav class="navbar-1">
    <div class="nav flex-column">
    <div id='nav-padding'></div>
    <div id='nav-padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/authors">Authors</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/countries">Countries</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/publishers">Publishers</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/languages">Languages</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/genres">Genres</a>
    </li>
    <div id='nav_padding'></div>
    <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>
</filnav>
