<filnav class="navbar-1">
    <div class="nav flex-column">
    <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <div id='nav-padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/authors">Authors</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/countries">Countries</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/publishers">Publishers</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/languages">Languages</a>
    </li>
    <div id='nav_padding'></div>
    <li class="nav-item">
      <a class="nav-link" href="/genres">Genres</a>
    </li>
</div>
</filnav>
