{% comment %}
=====================
  This include allows you to load up data from the _data folder, here it is using the 'country.csv', and will only display 
  the dataset that matches the title variable found in the front matter in the {[country-name.md]} pages. 
  
  The title in the markdown files are set to the country's name (exactly as it is named in the csv file!!!) which allows this 
  include to function correctly. 

      Notes - because the country markdown files are dependent on this include and the dataset found in the _data folder.
      The customization of the dataset itself, the html content, the css , and the javascript is easier.
  
{% endcomment %}


<html>
<head>
  <!-- Stylesheet -->
  <head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/includes-style/browse-author-style.css">
    </head>
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/includes-style/loadcountry-style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">   
</head>


<body>




<div class="container-0 row justify-content-center">
<div class="container-title col" style="position: relative;">

{% for country in site.data.country %}
{% if page.title == country["Country"] %}
    <div class="worldAtlasMap" style="position: sticky; top: 70px;">
    <span class="country"><h2>{{country["Country"]}}</h2></span>
  <div class="photo-co">
  <img class="img-fluid" src="{{site.baseurl}}/worldAtlasMap/{{country['Country']}}.webp" >
  </div>
  </div>
</div>

{% endif %}
{% endfor %}

<div class="container col">

{% for authorData in site.data.bios %}
{% if page.title == authorData[1]['Country']%}


<div>

  <div class="country_authorcard">

  <div class="row">
    <div class="col-sm-3">
      <img src="{{site.baseurl}}/authorphotos/{{authorData[0]}}.jpg" />
    </div>
    
    <div class="col-sm-9">
      <div class="country_authorinfo">
     <a href="{{site.baseurl}}/authors/{{authorData[0]}}"><h4>{{authorData[1]['Author']}}</h4></a>
     <h5>Lifespan: {{authorData[1]['Lifespan']}}</h5>
     </div>
    </div> 
  </div>
<hr>
  </div>
</div>

{% endif %}
{% endfor %}


</div>
</div>



</body>
</html>