{% comment %}
=====================
  This include allows you to load up data from the _data folder, here it is using the 'biography.csv', and will only display 
  the dataset that matches the authorid variable found in the front matter in the {[authorid.md]} pages. 
  
  The authorid  in the markdown files are set to the author's id (exactly as it is found in the csv file!!!) which allows this 
  include to function correctly. 

      Notes - because the author markdown files are dependent on this include and the dataset found in the _data folder.
      The customization of the dataset itself, the html content, the css , and the javascript becomes easier.
  
{% endcomment %}

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/includes-style/browse-author-style.css">
    </head>


<div class="container-fluid">


<!-- The div element that controls -->
<div class="row justify-content-center">

<!--This create the first column div-->

<div class="col" style="position:relative;">

<!-- Creates a container so that the author's profile photo side can scroll independtly of the book details -->
   
    <!-- 1st column containing the Author's Biography and Related Resources-->
     {% for author in site.data.biography %}
        {% if page.authorid == author.authorid %}
    <div class="authorbiodata" style="position: sticky; top: 68px;">
        <div height="700px" width="500px">
            <h3>{{author.Author}} </h3>
        <div class="authorimg">
            <img src="{{site.baseurl}}/authorphotos/{{author.authorid}}.jpg" />
        </div>   
    <br>
    
  
    <div class="authordetails">
    <h6> <b>Country of Birth: </b><a href="{{ site.baseurl }}/countries/{{author.mapId}}/">{{author.Country}}</a> <br>
        <b>Lifespan:</b> {{author.Lifespan}} <br>
        {% if {{author.Wikimedia}} %}
        <p>Read furthur details on the author's biography<a class="bioResourceLinks" href="{{author.Wikimedia}}" target="_blank" > -sourced from Wikipedia</a></p>
        {% else %}
        <p>This author does not have a Wikipedia page. But we are currently working on it!</p>
        {% endif %}
        </h6>
    </div>
       
        </div>
    </div>
</div>
   

  <!-- Creates the 2nd column containing the Author's Publication(s) details-->
<!-- For it to fully put in two columns i need to populate this into the div above -->
 <div class="col">

    {% assign sortedPubDate = site.data.publocation | sort:"Pubdate" %}

<div class="accordion" id="authorPublication">
<div class="accordion-item">
<h2 class="accordion-header">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#authorPublicationCollapse"  aria-controls="authorPublicationCollapse">
Publication
</button>
</h2>
<div id="authorPublicationCollapse" class="accordion-collapse collapse" data-bs-parent="authorPublication">
<div class="accordion-body">
    {% for author_publication in sortedPubDate %}
    {% if page.authorid == author_publication.authorid %}
<div class="books">
   
    <h3 class="publication_date"><b>Published in {{author_publication.Pubdate}}</b></h3>

            <div id="publicationImageContainer">
            <img class="bookphoto" src="{{site.baseurl}}/bookphotos/{{author.authorid}}/{{author_publication.bookImgId}}.jpg" />
            </div>

            <div class="book_details">
            <h4 class="publication_title"><b><i>{{author_publication.Title}}</i></b></h4>
           
            <div class="publication_summary">
                <p>{{author_publication.Summary}}</p>
              </div>
              <hr />
            <div class="publication_details">
              <p class="publication_genre">
                {% for genre in site.genres %}
                {%if author_publication.Genre == genre.genre %}
                <span>{{genre_url}}</span>
            <b><a href="{{site.baseurl}}{{genre.url}}">{{author_publication.Genre}}</a></b>,<b><span>{{author_publication.Sub_Genre}}</span></b>
            {%endif%}
            {%endfor%}
                </p>
                {% for language in site.languages %}
                {%if author_publication.Language == language.language %}
                <p class="publication_language"><b><a href="{{site.baseurl}}{{language.url}}/">{{author_publication.Language}}</a></b></p>
                {%endif%}
            {%endfor%}
                 <p class="publication_publisher"><b>{{author_publication.Publisher}}</b></p>
                 <p class="publication_translation"><b>{{author_publication.Translation}}</b></p>
             </div>
        </div>

        <p class="publicationResourceLinks">
                <span><a id="Buy" href="{{auhtor_publication.Buy_Link}}" target="_blank">Buy</a></span>
                <span>|</span>
                <span><a id="Read" href="{{author_publication.Read_Link}}" target="_blank">Read</a></span>
                <span>|</span>
                <span><a id="Listen" href="{{author_publication.Listen_Link}}" target="_blank">Listen</a></span>
              </p>
<hr />
</div>




            {% endif %}
            {% endfor %}
 {% endif %}
{% endfor %}
</div>
</div>
</div>
</div>

<div class="accordion" id="authorDLOC">
    <div class="accordion-item">
    <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#authorDLOCCollapse"  aria-controls="authorDLOCCollapse">
    Digital Library of The Caribbean
    </button>
    </h2>
    <div id="authorDLOCCollapse" class="accordion-collapse collapse" data-bs-parent="authorResource">
    <div class="accordion-body">
        {% for details in site.data.additional-resources %}
        {% if page.authorid == details.authorid %}
        <iframe width="100%" height="50%" src="{{details.resource_url}}"></iframe>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
<!-- end tag for div that makes this two column-->
</div>

</div>