{% comment %}
=====================
  This include allows you to load up data from the _data folder, here it is using the 'biography.csv', and will only display 
  the dataset that matches the authorid variable found in the front matter in the {[authorid.md]} pages. 
  
  The authorid  in the markdown files are set to the author's id (exactly as it is found in the csv file!!!) which allows this 
  include to function correctly. 

      Notes - because the author markdown files are dependent on this include and the dataset found in the _data folder.
      The customization of the dataset itself, the html content, the css , and the javascript becomes easier.
  
{% endcomment %}

<head>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/includes-style/browse-author-style.css">
    </head>


<div class="container-fluid">


<!-- The div element that controls -->
<div class="row justify-content-center">

<!--This create the first column div-->

<div class="col" style="position:relative;">

<!-- Creates a container so that the author's profile photo side can scroll independtly of the book details -->
   
    <!-- 1st column containing the Author's Biography and Related Resources-->
     {% for author in site.data.biography %}
        {% if page.authorid == author.authorid %}
    <div class="authorbiodata" style="position: sticky; top: 68px;">
        <div height="700px" width="500px">
            <h3>{{author.Author}} </h3>
        <div class="authorimg">
            <img src="{{site.baseurl}}/authorphotos/{{author.authorid}}.jpg" />
        </div>   
    <br>
    
  
    <div class="authordetails">
    <h6> <b>Country of Birth: </b><a href="{{ site.baseurl }}/{{author.mapId}}/">{{author.Country}}</a> <br>
        <b>Lifespan:</b> {{author.Lifespan}} <br>
        {% if {{author.Wikimedia}} %}
        <p>Read furthur details on the author's biography<a class="bioResourceLinks" href="{{author.Wikimedia}}" target="_blank" > -sourced from Wikipedia</a></p>
        {% else %}
        <p>This author does not have a Wikipedia page. But we are currently working on it!</p>
        {% endif %}
        </h6>
        <div class="additional-resources">
       {% include additional-resources.html %}
        </div>
    </div>
       
        </div>
    </div>
</div>
   

  <!-- Creates the 2nd column containing the Author's Publication(s) details-->
<!-- For it to fully put in two columns i need to populate this into the div above -->
 <div class="col">

    {% assign sortedPubDate = site.data.publocation | sort:"Pubdate" %}


    {% for author-publication in sortedPubDate %}
    {% if page.authorid == author-publication.authorid %}
<div class="books">
   
    <h3 class="publication_date"><b>Published in {{author-publication.Pubdate}}</b></h3>

            <div id="publicationImageContainer">
            <img class="bookphoto" src="{{site.baseurl}}/bookphotos/{{author.authorid}}/{{author-publication.bookImgId}}.jpg" />
            </div>

            <div class="book_details">
            <h4 class="publication_title"><b><i>{{author-publication.Title}}</i></b></h4>
           
            <div class="publication_summary">
                <p>{{author-publication.Summary}}</p>
              </div>
              <hr />
            <div class="publication_details">
              <p class="publication_genre">
            <b><a href="{{site.baseurl}}/{{author-publication.Genre}}/">{{author-publication.Genre}}</a></b>,<b><span>{{author-publication.Sub_Genre}}</span></b>
                </p>
                <p class="publication_language"><b><a href="{{site.baseurl}}/{{author-publication.Language}}/">{{author-publication.Language}}</a></b></p>
                 <p class="publication_publisher"><b>{{author-publication.Publisher}}</b></p>
                 <p class="publication_translation"><b>Translation: {{author-publication.Translation}}</b></p>
             </div>
        </div>

        <p class="publicationResourceLinks">
                <span><a id="Buy" href="{{auhtor-publication.Buy_Link}}" target="_blank">Buy</a></span>
                <span>|</span>
                <span><a id="Read" href="{{author-publication.Read_Link}}" target="_blank">Read</a></span>
                <span>|</span>
                <span><a id="Listen" href="{{author-publication.Listen_Link}}" target="_blank">Listen</a></span>
              </p>
<hr />
</div>




            {% endif %}
            {% endfor %}
 {% endif %}
{% endfor %}
<!-- end tag for div that makes this two column-->
</div>

</div>