<nav class="navbar-0  navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<a class="navbar-brand" href="{{ site.baseurl }}/">  {% include off_canvas_menu.html %}</a>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="container px-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                    </button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link pages/home.md %}">Home</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{% link pages/about.md %}">About</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{% link pages/credits.md %}">Credits</a></li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Putting it Together
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% link pages/process.md %}">Process</a>
                        <a class="dropdown-item" href="{% link pages/assessment.md %}">Assessment</a>
                        <a class="dropdown-item" href="{% link pages/reflections.md %}">Reflections</a>
                    </ul>
                </li>
                <li class="nav-item px-3"><a class="nav-link" href="{% link pages/students.md %}">Student Projects</a></li>
            </ul>
        </div>

        </div>
    </nav>
