<!DOCTYPE html>
<html>
<head>

<!-- Stylesheet -->
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/includes-style/navbar-style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
<div class="mainmenu">
<div class="topnavbar">
    <nav class="navbar-0  navbar-expand-lg navbar-dark bg-dark">
            <ul class="topbar navbar-nav me-auto mb-2 mb-lg-0">
                    <li><h5>Visualizing Caribbean Literature </h5> </li>
               <!--- <li class="nav-item px-3"><a class="nav-link" href="{% link pages/instructions.md %}">Instructions</a></li>-->
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/studentprojects/">Student Projects</a></li>
                <li class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Putting it Together
                </li>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% link pages/process.md %}">Process</a>
                    <a class="dropdown-item" href="{% link pages/assessment.md %}">Assessment</a>
                    <a class="dropdown-item" href="{% link pages/reflections.md %}">Reflections</a>
                </ul>
                
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/credits/">Credits</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/contact/">Contact Us</a></li>
                <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSeJvZjv5_0cf6stAVnc8no1uGWX0pxgQhFYQH7ZZ5ckugQKcQ/viewform" target="_blank" role="button">Be A Reviewer</a>
            </ul>
            
    </nav>        
</div>

<div class="bottomnavbar"></div>
<!--<div class="mainlogo">
    <a href="https://createcaribbean.org/create/" target="_blank">
      <img src="{{ site.baseurl }}/assets/img/CreateLogoNEW.png"/>
      </a>
      </div> -->
    <nav class=" navbar-0  navbar-expand-lg navbar-dark bg-dark"></nav>   
            <ul class= "bottombar navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link pages/home.md %}">Home</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/authors/">Authors</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/countries/">Countries</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/languages/">Languages</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/genres/">Genres</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="{{ site.baseurl }}/publishers/">Publishers</a></li>
            </ul>  
        </nav>              
</div>  
</div>        

     <!--  </div>

      <div class="col-sm-3">
    
        <form class="d-flex">
            <input id="nav-search" list="search-results" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              ** <button class="btn btn-outline-primary" type="submit">Search</button> **
      
              <datalist id="search-results">
              </datalist>
        </form>
    </div> -->
    
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    
    <script>
    var dataStore = [];
    
    $( document ).ready(function() {
        //Set triggers
        $('#nav-search').on('input', function (event) {
            searchAll(event.target.value);
        })
    
        $.getJSON("{{ site.baseurl }}/data/global_data.json", function (data) {
            dataStore = data;
        });
    });
    
    function searchAll (search = "") {
        if (!search.length) {
            $('#search-results').html('');
            return;
        }
    
        var resultLimit = 3;
    
        var typeCount = {};
    
        var results = [];
    
        for (i = 0; i < dataStore.length; i++) {
            type = dataStore[i].type;
    
            if (type in typeCount && typeCount[type] < resultLimit && dataStore[i].flavorText.toLowerCase().includes(search.toLowerCase())) {
                results.push({
                    flavorText : dataStore[i].flavorText,
                    link : ""
                });
    
                typeCount[type]++;
            } else {
                if (dataStore[i].flavorText.toLowerCase().includes(search.toLowerCase())) {
                    typeCount[type] = 1;
    
                    results.push({
                        flavorText : dataStore[i].flavorText,
                        link : ""
                    });
                }
            }
        }
    
        displaySuggestions(results);
    }
    
    function displaySuggestions (searchResults = []) {
        $('#search-results').html('');
    
        for (i = 0; i < searchResults.length; i++) {
            $('#search-results').append(`
            <option value="${searchResults[i].flavorText}" data-link="">
            `);
        }
    }
    
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
        </div>
        </div>
    
 </nav>

</body>
</html>