<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overhead Banner</title>
    <style>
       body
        {
            margin: 0;
            width: 100vw;
            overflow-x: hidden;
            overflow-y: scroll;
        }

         .gradient
        {
            width: 100vw;
            height: 40vh;
            position: absolute;
            background: linear-gradient(#ffffff00, #ffffff);
            z-index: 2;
        }

        .banner
        {
            width: 100vw;
            height: 36vh;
            overflow: hidden;
        }

        .row1, .row2, .row3, .inner1, .inner2
        {
            width: 100vw;
            height: 12vh;
            display: flex;
        }

        .row1 .inner1
        {
            position: absolute;
            animation: scroll1 18s linear infinite;
        }

        .row2 .inner1
        {
            position: absolute;
            animation: scroll1 20s linear infinite;
        }

        .row3 .inner1
        {
            position: absolute;
            animation: scroll1 15s linear infinite;
        }

        .row1 .inner2
        {
            position: absolute;
            animation: scroll2 18s linear infinite;
        }

        .row2 .inner2
        {
            position: absolute;
            animation: scroll2 20s linear infinite;
        }

        .row3 .inner2
        {
            position: absolute;
            animation: scroll2 15s linear infinite;
        }


        @keyframes scroll1 
        {
            from { left: 0%; }
            to { left: -100%; }
        }

        @keyframes scroll2 
        {
            from { left: 100%; }
            to { left: 0%; }
        }
    </style>
</head>
<body>
    <div class="gradient"></div>
    <div class="banner">
        <div class="row1">
            <div class="inner1">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic6.jpg">
                <img src="../assets/img/banner/sitepic7.jpg">
                <img src="../assets/img/banner/sitepic8.jpg">
                <img src="../assets/img/banner/sitepic9.jpg">
                <img src="../assets/img/banner/sitepic10.jpg">
                <img src="../assets/img/banner/sitepic11.jpg">
                <img src="../assets/img/banner/sitepic12.jpg">
                <img src="../assets/img/banner/sitepic13.jpg">
                <img src="../assets/img/banner/sitepic14.jpg">
                <img src="../assets/img/banner/sitepic15.jpg">
                <img src="../assets/img/banner/sitepic16.jpg">
                <img src="../assets/img/banner/sitepic17.jpg">
                <img src="../assets/img/banner/sitepic18.jpg">
                <img src="../assets/img/banner/sitepic21.jpg">
                <img src="../assets/img/banner/sitepic22.jpg">
                <img src="../assets/img/banner/sitepic23.jpg">
                <img src="../assets/img/banner/sitepic24.jpg">
                <img src="../assets/img/banner/sitepic25.jpg">
                <img src="../assets/img/banner/sitepic26.jpg">
                <img src="../assets/img/banner/sitepic28.jpg">
                <img src="../assets/img/banner/itepic29.jpg">
                <img src="../assets/img/banner/sitepic52.jpg">
            </div>
            <div class="inner2">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic6.jpg">
                <img src="../assets/img/banner/sitepic7.jpg">
                <img src="../assets/img/banner/sitepic8.jpg">
                <img src="../assets/img/banner/sitepic9.jpg">
                <img src="../assets/img/banner/sitepic10.jpg">
                <img src="../assets/img/banner/sitepic11.jpg">
                <img src="../assets/img/banner/sitepic12.jpg">
                <img src="../assets/img/banner/sitepic13.jpg">
                <img src="../assets/img/banner/sitepic14.jpg">
                <img src="../assets/img/banner/sitepic15.jpg">
                <img src="../assets/img/banner/sitepic16.jpg">
                <img src="../assets/img/banner/sitepic17.jpg">
                <img src="../assets/img/banner/sitepic18.jpg">
                <img src="../assets/img/banner/sitepic21.jpg">
                <img src="../assets/img/banner/sitepic22.jpg">
                <img src="../assets/img/banner/sitepic23.jpg">
                <img src="../assets/img/banner/sitepic24.jpg">
                <img src="../assets/img/banner/sitepic25.jpg">
                <img src="../assets/img/banner/sitepic26.jpg">
                <img src="../assets/img/banner/sitepic28.jpg">
                <img src="../assets/img/banner/sitepic29.jpg">
                <img src="../assets/img/banner/sitepic52.jpg">
            </div>          
        </div>
        <div class="row2">
            <div class="inner1">
                <img src="../assets/img/banner/sitepic19.jpg">
                <img src="../assets/img/banner/sitepic20.jpg">
                <img src="../assets/img/banner/sitepic21.jpg">
                <img src="../assets/img/banner/sitepic22.jpg">
                <img src="../assets/img/banner/sitepic23.jpg">
                <img src="../assets/img/banner/sitepic24.jpg">
                <img src="../assets/img/banner/sitepic25.jpg">
                <img src="../assets/img/banner/sitepic26.jpg">
                <img src="../assets/img/banner/sitepic28.jpg">
                <img src="../assets/img/banner/sitepic29.jpg">
                <img src="../assets/img/banner/sitepic30.jpg">
                <img src="../assets/img/banner/sitepic31.jpg">
                <img src="../assets/img/banner/sitepic32.jpg">
                <img src="../assets/img/banner/sitepic33.jpg">
                <img src="../assets/img/banner/sitepic34.jpg">
                <img src="../assets/img/banner/sitepic35.jpg">
                <img src="../assets/img/banner/sitepic36.jpg">
                <img src="../assets/img/banner/sitepic37.jpg">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic50.jpg">
                <img src="../assets/img/banner/sitepic47.jpg">
                <img src="../assets/img/banner/sitepic48.jpg">   
            </div>
            <div class="inner2">
                <img src="../assets/img/banner/sitepic19.jpg">
                <img src="../assets/img/banner/sitepic20.jpg">
                <img src="../assets/img/banner/sitepic21.jpg">
                <img src="../assets/img/banner/sitepic22.jpg">
                <img src="../assets/img/banner/sitepic23.jpg">
                <img src="../assets/img/banner/sitepic24.jpg">
                <img src="../assets/img/banner/sitepic25.jpg">
                <img src="../assets/img/banner/sitepic26.jpg">
                <img src="../assets/img/banner/sitepic28.jpg">
                <img src="../assets/img/banner/sitepic29.jpg">
                <img src="../assets/img/banner/sitepic30.jpg">
                <img src="../assets/img/banner/sitepic31.jpg">
                <img src="../assets/img/banner/sitepic32.jpg">
                <img src="../assets/img/banner/sitepic33.jpg">
                <img src="../assets/img/banner/sitepic34.jpg">
                <img src="../assets/img/banner/sitepic35.jpg">
                <img src="../assets/img/banner/sitepic36.jpg">
                <img src="../assets/img/banner/sitepic37.jpg">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic50.jpg">
                <img src="../assets/img/banner/sitepic47.jpg">
                <img src="../assets/img/banner/sitepic48.jpg">   
            </div>       
        </div>
        <div class="row3">
            <div class="inner1">
                <img src="../assets/img/banner/sitepic38.jpg">
                <img src="../assets/img/banner/sitepic39.jpg">
                <img src="../assets/img/banner/sitepic40.jpg">
                <img src="../assets/img/banner/sitepic41.jpg">
                <img src="../assets/img/banner/sitepic42.jpg">
                <img src="../assets/img/banner/sitepic43.jpg">
                <img src="../assets/img/banner/sitepic44.jpg">
                <img src="../assets/img/banner/sitepic45.jpg">
                <img src="../assets/img/banner/sitepic46.jpg">
                <img src="../assets/img/banner/sitepic47.jpg">
                <img src="../assets/img/banner/sitepic48.jpg">
                <img src="../assets/img/banner/sitepic49.jpg">
                <img src="../assets/img/banner/sitepic50.jpg">
                <img src="../assets/img/banner/sitepic51.jpg">
                <img src="../assets/img/banner/sitepic52.jpg">
                <img src="../assets/img/banner/sitepic53.jpg">
                <img src="../assets/img/banner/sitepic54.jpg">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic6.jpg">
                <img src="../assets/img/banner/sitepic7.jpg">
                <img src="../assets/img/banner/sitepic8.jpg">
                <img src="../assets/img/banner/sitepic9.jpg">  
            </div>
            <div class="inner2">
                <img src="../assets/img/banner/sitepic38.jpg">
                <img src="../assets/img/banner/sitepic39.jpg">
                <img src="../assets/img/banner/sitepic40.jpg">
                <img src="../assets/img/banner/sitepic41.jpg">
                <img src="../assets/img/banner/sitepic42.jpg">
                <img src="../assets/img/banner/sitepic43.jpg">
                <img src="../assets/img/banner/sitepic44.jpg">
                <img src="../assets/img/banner/sitepic45.jpg">
                <img src="../assets/img/banner/sitepic46.jpg">
                <img src="../assets/img/banner/sitepic47.jpg">
                <img src="../assets/img/banner/sitepic48.jpg">
                <img src="../assets/img/banner/sitepic49.jpg">
                <img src="../assets/img/banner/sitepic50.jpg">
                <img src="../assets/img/banner/sitepic51.jpg">
                <img src="../assets/img/banner/sitepic52.jpg">
                <img src="../assets/img/banner/sitepic53.jpg">
                <img src="../assets/img/banner/sitepic54.jpg">
                <img src="../assets/img/banner/sitepic1.jpg">
                <img src="../assets/img/banner/sitepic2.jpg">
                <img src="../assets/img/banner/sitepic3.jpg">
                <img src="../assets/img/banner/sitepic4.jpg">
                <img src="../assets/img/banner/sitepic5.jpg">
                <img src="../assets/img/banner/sitepic6.jpg">
                <img src="../assets/img/banner/sitepic7.jpg">
                <img src="../assets/img/banner/sitepic8.jpg">
                <img src="../assets/img/banner/sitepic9.jpg">  
            </div>        
        </div>
    </div>


    
</body>
</html>