
/******Slide In******/
.hide {
  opacity: 0;
}
body {
  font-family: "Proxima Nova", "Montserrat", "Arial", sans-serif;
}
.slideIn_Mobile {
  opacity: 1;
  -webkit-animation: slideIn_Mobile 0.5s;
          animation: slideIn_Mobile 0.5s;
}
@-webkit-keyframes slideIn_Mobile {
  0% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  55% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideIn_Mobile {
  0% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  55% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/****************/
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
}
.page_title {
    text-align: center;
}

.content {
  position: relative;
  ont-family: "Roboto", "Montserrat", "Arial", sans-serif;
  width: 100%;
  height: auto;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  z-index: 99;
  -webkit-backface-visibility: hidden;
  background: linear-gradient(90deg, #f3f3f3 0%, #dae5df 100%);
  padding-bottom: 20px;
}
.content h1 {
  font-size: 58px;
  text-align: center;
  color: #fff;
  text-shadow: 0 3px 0 #bbb, 0 1px 0 #bbb, 0 2px 0 #bbb, 0 3px 5px rgba(0, 0, 0, 0.5);
}
.content .logo {
  display: block;
  position: relative;
  max-width: 265px;
  max-height: 265px;
  border-radius: 300px;
  border: solid 8px #fff;
  margin: 20px auto 0 auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08), inset 0 4px 12px rgba(0, 0, 0, 0.05);
  z-index: 0;
  background-size: 112%;
}
.content .quote {
  opacity: 1;
}
.content .quote p {
  position: relative;
  width: 70%;
  height: auto;
  margin: 0 auto;
  top: -10px;
  color: #fff;
  font-size: 38px;
  text-align: center;
  text-shadow: 0 3px 0 #dadada, 0 1px 0 #dadada, 0 2px 0 #dadada, 0 3px 5px rgba(0, 0, 0, 0.5);
}
.content .timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 6px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #fff;
  z-index: -100;
}
.content .timeline {
  position: relative;
  width: 98%;
  height: auto;
  margin: 0 auto auto auto;
}
.content .block {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 25px auto 25px auto;
  padding: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  text-align: center;
}
.content .block hr {
  width: 90%;
  height: 1px;
  margin: -10px auto 20px auto;
  border: 0;
}
.content .block h1,
.content .block h4 {
  width: 90%;
  margin: 22px auto;
  color: #10316b;
  font-size: 28px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.content .block h4 {
  font-size: 17px;
}
.content .block p {
  width: 85%;
  height: auto;
  margin: 0 auto;
  color: #030303;
  font-size: 14px;
}

/**** AUTHOR PAGE****/
.acreadmore a{
  display: block;
  width: 120px;
  height: 36px;
  margin: 5px auto 20px auto;
  padding: 0 10px 0 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  border-radius: 6px;
  background: #10316b;
}

.aclocation a {
    background: #fff !important;
    font-weight: 600 !important;
}

  .dlocresources a {
    background: #10316b;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.dlocresources {
  margin: 10px auto 20px auto;
}

/************/

.content .block a:hover {
  background: #216b4d;
}
.content .block a:active {
  background: #216b4d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}
.content .block .dot {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 25px;
  background-color: #216b4d;
  border: solid 5px #fff;
  border-radius: 100px;
  z-index: 300;
}
.content .block .left,
.content .block .right {
  display: block;
  position: relative;
  width: 45%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.content .block .left.first {
  margin-left: 0;
}
.content .block .left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 23px;
  left: 100%;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
}
.content .block .right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 23px;
  right: 100%;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
}
.content .block .left {
  float: left;
}
.content .block .right {
  float: right;
}
.content .block .date {
  display: block;
  position: relative;
  width: 45%;
  height: 78px;
  z-index: 1;
}
.content .block .date p {
  margin: 0;
  width: 150px;
  height: 58px;
  padding: 10px 25px 10px 25px;
  line-height: 58px;
  color: #030303;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}
.content .block .date p.right {
  float: left;
  margin-left: 0;
  width: auto;
}
.content .block .date p.left {
  float: right;
  margin-left: 0;
  width: auto;
}
.content .block .date.right,
.content .block .date.left {
  background: none;
  box-shadow: none;
}
.content #footer {
  position: relative;
  width: 180px;
  min-height: 25px;
  margin: 0 auto;
  border-radius: 17px;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1000;
}
::-moz-selection {
  background: #216b4d;
  color: #fff;
}
::selection {
  background: #216b4d;
  color: #fff;
}
@media only screen and (max-width: 1136px) {
  .content .timeline .block {
    margin: 50px auto 50px auto;
  }
  .content .timeline .block h1 {
    margin: 35px auto 15px auto;
  }
  .content .timeline .block .dot {
    margin-top: -14px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .content .timeline .block .right,
  .content .timeline .block .left {
    width: 100%;
    margin-top: 18px;
  }
  .content .timeline .block .right:before,
  .content .timeline .block .left:before {
    content: none;
  }
  .content .timeline .block .date {
    height: 50px;
    margin: 0 auto;
  }
  .content .timeline .block .date p {
    float: none;
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;
  }
}
#copyright {
  font-size: 16px;
  color: #10316b;
  margin: 1px;
  line-height: 40px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 180px;
  text-align: center;
}
#copyright a {
  text-decoration: none;
  color: #10316b;
  transition: all ease-in-out 0.35s;
}
#copyright a:hover {
  color: #6e89a5;
}

/* Custom */

div.right p img, div.left p img {
	width: inherit;
    max-width: 250px;
    max-height: 400px;
}


/****MEDIA****/

@media screen and (min-width: 300px) {
  .content h1 {
      margin-top: 60px;
  }
}

@media screen and (min-width: 600px) {
  .content h1 {
      margin-top: 56px;
  }
}

@media screen and (min-width: 767px) {
  .content h1 {
      margin-top: 42px;
  }
}

@media screen and (min-width: 850px) {
  .content h1 {
      margin-top: 45px;
  }
}

@media screen and (min-width: 1000px) {
  .content h1 {
      margin-top: 44px;
  }
}

@media screen and (min-width: 1600px) {

  .content h1 {
      margin-top: 44px;
  }
  

}

/*********/
