html,

body {
	width:100%;
	height:100%;
	color:#000!important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	margin:0;
	padding:0;
}

/****Background****/
.background{
background: #fff/*url('../img/background-3.png')*/;
}

.overlay{
	background:rgba(255,255,255, 0.3);
}

/*********/
h2 {
	font-size: 3rem;
}
a{
	color: #216b4d;
}

.content {
	padding-left: 5%;
	padding-right: 5%;
}

.card {
	background: #fff;
	border-radius: 0px;
	position: relative;
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
	padding: 15px;
}

.card.col-4 {
	width: 32%;
	margin: 5px;
  }


.credit_section {
    border: 1px solid #fff;
    padding: 15px;
    box-shadow: 0px 0px 10px #e9e9e9;
	margin-bottom: 15px;
}

.credit_section .col-sm-4 img {
    width: 320px;
    height: 350px;
}

.credit_section .col-sm-3 img {
    width: 260px;
    height: 345px;
}

.credits_esprits {
    text-align: center;
    margin-bottom: 30px;
}


.col-sm-10 {
	margin-top: 70px;

}

div#map {
    z-index: 1;
		width: 98%;
		height: 91%;
}

.wordcloud {
    text-align: center;
		}

.wordcloud img {
		    width: 100%;
		}

a.navbar-brand {
	padding-left: 1rem;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

nav.navbar-0.navbar-expand-lg.navbar-dark.bg-dark {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-link {
    color: rgb(255 255 255);
}
.container .img-responsive {
	object-fit: contain;
}
.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

.navbar {
	z-index: 0;
	background:#216b4d;
	color: #fff;
	position: fixed;
	width: 100%;
	height: inherit;
	top:0;
	left:0;
	box-shadow:0 0 1px 1px rgba(0,0,0,0.25);
}

.bg-dark {
    background-color: #f3f3f3!important;
}
.container.px-5 {
    padding: 20px 0;
}
.nav-link {
	color: #fff;

}
.navbar-1 .nav-item {
	padding: 10px;
	font-size: 20px;
}

.navbar-1 {
	margin-top: 70px;
  position: relative;
  height: 150vh;
  overflow: auto;
}
  ::-webkit-scrollbar {
    display: none;
}

.pagetitle {
    text-align: center;
    font-size: 50px;
}


.col-sm-2 {
	/*height:100%;
	width:auto;
	left:10px;
	top:0;
	border-right:2px solid grey;*/
	padding-left:50px;
		/*box-sizing:border-box;*/
}

.col-sm-10 {
	padding: 30px 60px 30px 60px;
	margin-top: 0px;
	background: #e8edea4d;
	margin-bottom: 30px;

}

.instructions {
		padding: 30px 0 60px 0;
}

.instructions a {
    font-weight: 600;
}

.internreflection {
    padding: 15px 0;
}

div#data-container {
    padding: 13px 0;
}
.individual_language {
    margin: 30px 0;
}

input#search-box {
    margin-top: 20px;
}

.individual_language .col-sm-10 {
    padding-bottom: 40px;
}

.languages #data-container, .authors #data-container, .genres #data-container {
    margin-bottom: 20px !important;
}

.page_title {
    text-align: center;
}

.mt-5 {
    margin-top: 0rem!important;
}

.countrypage .col-sm-10 #map {
		height: 500px;
		width: 100%;
		margin: 0 auto;
}

.countrypage .col-sm-10 {
    padding-bottom: 10px;
}

.publisherpage .col-sm-10 #map {
		height: 500px;
		width: 100%;
		margin: 0 auto;
}

.publisherpage .col-sm-10 {
    padding-bottom: 10px;
}

 footer {

	color: #216b4d;
  text-align: center;
}

footer img {
width: 100%;
}


footer p:last-child {
  margin-bottom: 0;
}

.footer {
	padding: 30px 0;
    background: #cfd1d0 !important;
	font-size: 14px;
}

.homebutton {
    margin: 40px 0;
	text-align: center;
}

.homebutton a {
    color: #fff;
    background: #198754;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
}

/**** MEDIA RULES****/

@media screen and (min-width: 300px) {

	/****navigation_menu****/
	.navbar-expand-lg .navbar-collapse {
			display: flex!important;
			flex-basis: auto;
	}
	ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
			display: none;
	}


a.navbar-brand {
	font-size: 85% !important;
    padding-top: 13px;
}
/********/

}

@media screen and (min-width: 600px) {

	/****navigation_menu****/
	.navbar-expand-lg .navbar-collapse {
			display: flex!important;
			flex-basis: auto;
	}

	a.navbar-brand {
		font-size: 100% !important;
	}

/*****/

}

/****navigation_menu****/
@media screen and (min-width: 767px) {

	a.navbar-brand {
    font-size: 85% !important;
}

li.nav-item.px-3 {
    padding: 14px 9px 0 9px !important;
    font-size: 85%;
}

	.navbar-expand-lg .navbar-collapse {
	    display: flex!important;
	    flex-basis: auto;
	}

	ul.navbar-nav.me-auto.mb-2.mb-lg-0 li {
	    display: inline-block !important;
	    float: left;
	}

	.navbar-nav {
    display: inline-block !important;
	}

	button.navbar-toggler {
    display: none;
}

.container.px-5 {
    padding: 0px !important;
}

/****/

/* FOOTER */
.logos img {
    width: 30%;
    display: inline-block;
    float: left;
    padding: 1%;
}

}

@media screen and (min-width: 850px) {

	/****navigation_menu****/
	a.navbar-brand {
		font-size: 95% !important;
	}

	li.nav-item.px-3 {
		padding: 14px 10px 0 10px !important;
		font-size: 95%;
	}

	.navbar-expand-lg .navbar-collapse {
			display: flex!important;
			flex-basis: auto;
	}

	ul.navbar-nav.me-auto.mb-2.mb-lg-0 li {
			display: inline-block;
			float: left;
	}

	.navbar-nav {
		display: inline-block;
	}

	button.navbar-toggler {
		display: none;
	}

	.container.px-5 {
		padding: 0px !important;
	}
	/*****/
	.vesti-date-wrapper {
	    width: 250px !important;
	}
}

@media screen and (min-width: 1000px) {

	/****navigation_menu****/
	a.navbar-brand {
		font-size: 100% !important;
	}

	li.nav-item.px-3 {
		padding: 13px 10px 7px 10px !important;
		font-size: 100%;
	}

	.navbar-expand-lg .navbar-collapse {
			display: flex!important;
			flex-basis: auto;
	}

	ul.navbar-nav.me-auto.mb-2.mb-lg-0 li {
			display: inline-block;
			float: left;
	}

	.navbar-nav {
		display: inline-block;
	}

	button.navbar-toggler {
		display: none;
	}

	.container.px-5 {
		padding: 0px !important;
	}
	/*****/
	.vesti-date-wrapper {
	    width: 300px !important;
	}
}

@media screen and (min-width: 1600px) {

	/****navigation_menu****/
	a.navbar-brand {
		font-size: 100% !important;
	}

	li.nav-item.px-3 {
		padding: 13px 15px 7px 15px !important;
		font-size: 100%;
	}

	.navbar-expand-lg .navbar-collapse {
			display: flex!important;
			flex-basis: auto;
	}

	ul.navbar-nav.me-auto.mb-2.mb-lg-0 li {
			display: flex;
    	float: left;
	}

	.navbar-nav {
		display: inline-block;
	}

	button.navbar-toggler {
		display: none;
	}

	.container.px-5 {
		padding: 0px !important;
	}
	/*****/
.container-title {
	margin-top: 0px;

}
.vesti-date-wrapper {
    width: 340px!important;
}


}


/*********/
