html,

body {
	width:100%;
	height:100%;
	color:#666;
	font-family: "Roboto", Montserrat, Arial, sans-serif;
	font-size: 17px;
	margin:0;
	padding:0;
}
.footer {
    background: #dee1ec !important;
}

/****TOP BANNER ****/
.header_banner img {
    width: 100%;
    margin-top: -26px !important;
}

.header_banner {
    margin-top: 82.5px;
}
/*********/

h2 {
	font-size: 3rem;
}
a{
	color: #216b4d;
}

a.navbar-brand {
	padding-left: 1rem;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

nav.navbar-0.navbar-expand-lg.navbar-dark.bg-dark {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-link {
    color: rgb(255 255 255);
}
.container .img-responsive {
	object-fit: contain;
}
.vh-50{
    min-height: 50vh!important;
}
.vh-75{
    min-height: 75vh!important;
}

.navbar {
	z-index: 0;
	background:#216b4d;
	color: #fff;
	position: fixed;
	width: 100%;
	height: inherit;
	top:0;
	left:0;
	box-shadow:0 0 1px 1px rgba(0,0,0,0.25);
}

.bg-dark {
    background-color: #216b4d!important;
}
.container.px-5 {
    padding: 20px 0;
}
.nav-link {
	color: #000;

}
.navbar-1 .nav-item {
	padding: 10px;
	font-size: 20px;
}

.navbar-1 {
  position: relative;
  height: 150vh;
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
}

.col-sm-3 {
	/*height:100%;
	width:auto;
	left:10px;
	top:0;
	border-right:2px solid grey;*/
	padding-left:50px;
		/*box-sizing:border-box;*/
}
.col-sm-9 {
	padding-top:0px;
	padding-right: 50px;
	padding-bottom: 0px;

}
.mt-5 {
    margin-top: 0rem!important;
}

 footer {
  padding: 2rem 0;
	color: #216b4d;
  text-align: center;
  border-top: .05rem solid #bfbfbf;
}

footer img {
	max-width: 150px;
	max-height: 150px;
}


footer p:last-child {
  margin-bottom: 0;
}
