*,
*:after,
*:before {
box-sizing: border-box;}

.container {
  max-width: 1600px;
  padding: 30px 20px;

  position: relative;
}

.timeline.clearfix img {
    max-width: 70%;
    min-width: 70%;
    max-height: 70%;
    min-height: 70%;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 11px #888;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 760px) {
  .vertical-line::after {
    top: -10px;
    right: 50%;
    background-color: #a6a6a6;
    overflow: hidden;
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: -5px;
  }
  .vertical-line::before {
    top: -10px;
    right: 50%;
    background-color: #a6a6a6;
    overflow: hidden;
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 4px;
    margin-right: -2px;
  }
  .vesti-date-wrapper::before {
    top: 50%;
    background-color: #a6a6a6;
    overflow: hidden;
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-top: -2px;
    z-index: -10;
  }
}
.vesti-col {
  width: 100%;
}

.timeline-post {
  position: relative;
}

.timeline-post:nth-child(odd) {
  margin-top: 20px;
}

.timeline-post:nth-child(even) {
  margin-bottom: 0;
  margin-top: 100px;
}

.photo {
  position: relative;
}

.photo img {
  max-height: 350px;
  max-width: 250px;
  min-height: 350px;
  min-width: 250px;
}

/*Vesti date*/
.photo-co {
    max-width: 600px;
    max-height: 1200px;
    margin: 0 auto;
}

.vesti-date-wrapper {
  position: absolute;
  right: 50%;
  margin-right: -35px;
  bottom: -25px;
}

.vesti-date-wrapper .vesti-date {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #216b4d;
  padding-top: 14px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #a6a6a6;
}

.vesti-date-wrapper .vesti-date .day {
  font-size: 20px;
  color: #2d3e4f;
  line-height: 0px;
  display: block;
}

.vesti-date-wrapper .vesti-date .month {
  font-size: 12px;
  color: #2d3e4f;
  line-height: 0px;
  display: block;
  text-transform: uppercase;
}
.container-title {
    margin-top: 65px;
    text-align: center;
    text-transform: uppercase;
}
.photo-co {
    image-align: center;
}
/*izmedju - remove later */

.timeline-post:nth-child(2n+3) {
  clear: both;
}

.timeline-post:nth-child(odd) .vesti-date-wrapper .vesti-date {
  float: right;
}

.timeline-post:nth-child(even) {
  /*float: right;*/
  margin-bottom: 0;
  margin-top: 20px;
}

.timeline-post:nth-child(even) .vesti-date-wrapper {
  bottom: -25px;
  right: 50%;
  margin-right: -25px;
}

/*Vesti typography*/

.vesti-desc {
}

.vesti-desc h4 {
  color: #2d3e4f;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  margin-top: 35px;
  margin-bottom: 15px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out
}

.owl-item .vesti-desc h4 {
  margin-top: 50px;
}

.vesti-desc h4:hover {
  color: #00b388 !important;
}

.vesti-desc p {
  color: #2d3e4f;
  font-size: 16px !important;
  font-weight: 400;
}

@media (min-width: 768px) {
  #section_2 .owl-item {
    padding: 0 20px;
  }
  .post-type-archive-vesti .container {
    max-width: 1600px;
  }
  .archive .site-content {
    margin-top: 100px;
  }
  .vesti-col {
    width: 43%;
  }
/*  .timeline {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
  }*/
  .vesti-date-wrapper {
    position: absolute;
    right: 150px;
    margin-right: 0px;
    bottom: auto;
  }
  .timeline-post:nth-child(odd) {
    float: left;
    margin-top: 0;
  }
  .timeline-post:nth-child(even) {
    float: right;
    margin-bottom: 0;
    margin-top: 50px;
  }
  .vesti-desc h4 {
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 30px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -77px;
    top: 55px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -77px;
    bottom: 15px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 77px;
  }
}

@media (min-width: 850px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -85px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -85px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 85px;
  }
}

@media (min-width: 1000px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -95px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -95px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 95px;
  }
}

@media (min-width: 1100px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -100px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -100px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100px;
  }
}

@media (min-width: 1200px) {
/*  .timeline {
    margin-top: 40px;
  }*/
  .timeline-post:nth-child(even) {
    margin-top: 100px;
  }
  .vesti-date-wrapper .vesti-date {
    width: 25px;
    height: 25px;
    padding: 10px;
  }
  .vesti-date-wrapper .vesti-date .day {
    font-size: 40px;
    line-height: 20px;
  }
  .vesti-date-wrapper .vesti-date .month {
    font-size: 20px;
    line-height: 5px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -80px;
    top: 55px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -80px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100%;
  }
  .owl-item .vesti-desc h4 {
    margin-top: 75px;
  }
}

@media (min-width: 1300px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -85px;
    top: 55px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -85px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -85px;
    top: 55px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -85px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -95px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -95px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .timeline-post:nth-child(odd) .vesti-date-wrapper {
    right: -97px;
    top: 55px;
  }
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    left: -97px;
  }
  .timeline-post:nth-child(odd) .vesti-date-wrapper,
  .timeline-post:nth-child(even) .vesti-date-wrapper {
    width: 100%;
  }
}
