/*

Stylesheet for navbar

*/


ul.topbar.navbar-nav.me-auto.mb-2.mb-lg-0 img {
    width: 60px;
    float: left !important;
} 

ul.topbar.navbar-nav.me-auto.mb-2.mb-lg-0 a {
    text-decoration: none;
}

ul.topbar.navbar-nav.me-auto.mb-2.mb-lg-0 h5 {
    margin-top: 2%;
}
.mainmenu {
    text-align: center;
    background: #216b4d;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: #111a83;
    border-color: #111a83;
}

.btn-primary:hover {
    color: #fff;
    background-color: #111a83;
    border-color: #111a83;
}

h5{
    font-weight: 300;
}

li.nav-item.px-3 {
    padding: 0px 18px !important;
}

.bottomnavbar {
    margin-top: 43px;
}

ul.bottombar.navbar-nav.me-auto.mb-2.mb-lg-0 {
    padding: 15px 0 6px 0;
    margin: 0px 30px !important;
}

ul.topbar.navbar-nav.me-auto.mb-2.mb-lg-0 h5 {
    margin-right: 40px;
    padding-right: 30px;
    border-right: 1px solid #111a83;
    font-weight: 600;
    color: #111a83;
}

nav.navbar-0.navbar-expand-lg.navbar-dark.bg-dark {
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #111a83;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #13184c;
}

.nav-link:focus, .nav-link:hover {
    color: #ffffff;
}

ul.topbar.navbar-nav.me-auto.mb-2.mb-lg-0 h4 {
    color: #111a83;
}
.mainlogo img {
    width: 10%;
}
